* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  padding: 100px 0px;
  background-image: url(../img/hero-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

header .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .left {
  width: 50%;
  color: white;
}

header .container .left h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

header .container .left p {
  font-size: 18px;
  margin-bottom: 15px;
}

header .container .left button {
  outline: none;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: transparent;
  font-size: 20px;
  color: white;
}

header .container .left button:hover {
  background-color: rgba(128, 128, 128, 0.151);
}

header .container .right {
  width: 50%;
}

header .container .right img {
  width: 100%;
}

main {
  width: 100%;
}

main .card-container {
  padding: 100px 0px;
}

main .card-container .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .card-container .container .box {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .card-container .container .box i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #eeefff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #5864ff;
  margin-bottom: 30px;
}

main .card-container .container .box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

main .card-container .container .box p {
  text-align: center;
  font-size: 16px;
  color: grey;
}

main .perfect-container {
  padding: 100px 0px;
}

main .perfect-container .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .perfect-container .container .left {
  width: 50%;
  position: relative;
}

main .perfect-container .container .left img:nth-child(1) {
  width: 70%;
}

main .perfect-container .container .left img:nth-child(2) {
  position: absolute;
  bottom: 18%;
  right: 0;
  width: 85%;
  z-index: 2;
}

main .perfect-container .container .left img:nth-child(3) {
  position: absolute;
  bottom: 7%;
  right: 7.5%;
  width: 50%;
  z-index: 1;
}

main .perfect-container .container .right {
  width: 50%;
}

main .perfect-container .container .right h2 {
  font-size: 30px;
}

main .perfect-container .container .right p {
  color: grey;
  font-size: 18px;
  margin-top: 30px;
}

main .perfect-container .container .right button {
  width: 200px;
  height: 70px;
  border-radius: 35px;
  border: 2px solid #5864ff;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #5864ff;
  margin-top: 30px;
  transition: all 1s;
}

main .perfect-container .container .right button:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

main .easy-container {
  padding: 100px 0px;
}

main .easy-container .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .easy-container .container .left {
  width: 50%;
}

main .easy-container .container .left h2 {
  font-size: 30px;
}

main .easy-container .container .left p {
  color: grey;
  font-size: 18px;
  margin-top: 30px;
}

main .easy-container .container .left ul {
  list-style: none;
}

main .easy-container .container .left ul li {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  text-indent: 15px;
  position: relative;
}

main .easy-container .container .left ul li::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #5864ff;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 2px 3px 5px #5864ff;
}

main .easy-container .container .left button {
  width: 180px;
  height: 70px;
  border-radius: 35px;
  border: 2px solid #5864ff;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #5864ff;
  margin-top: 30px;
  transition: all 1s;
}

main .easy-container .container .left button:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

main .easy-container .container .right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

main .easy-container .container .right img:nth-child(1) {
  width: 70%;
}

main .easy-container .container .right img:nth-child(2) {
  position: absolute;
  bottom: 18%;
  left: 0;
  width: 85%;
  z-index: 2;
}

main .easy-container .container .right img:nth-child(3) {
  position: absolute;
  bottom: 7%;
  left: 7.5%;
  width: 50%;
  z-index: 1;
}

main .choose-container {
  padding: 100px 0px;
  background-color: #eeefff;
  width: 100%;
}

main .choose-container .container > h1 {
  text-align: center;
}

main .choose-container .container > p {
  text-align: center;
  font-size: 20px;
  color: grey;
  width: 50%;
  margin: 0 auto;
}

main .choose-container .container .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
}

main .choose-container .container .box-container .box {
  width: 30%;
  margin-bottom: 30px;
}

main .choose-container .container .box-container .box i {
  font-size: 50px;
  margin-bottom: 30px;
  color: #5864ff;
}

main .choose-container .container .box-container .box h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

main .choose-container .container .box-container .box p {
  color: grey;
  width: 90%;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  main .card-container .container {
    flex-direction: column;
  }
  main .card-container .container .box {
    width: 80%;
    margin-bottom: 30px;
  }
  main .choose-container .container .box-container {
    flex-direction: column;
    align-items: center;
  }
  main .choose-container .container .box-container .box {
    width: 80%;
  }
  main .perfect-container .container {
    flex-direction: column;
  }
  main .perfect-container .container .left {
    width: 100%;
    margin-bottom: 100px;
  }
  main .perfect-container .container .right {
    width: 100%;
  }
  main .easy-container .container {
    flex-direction: column;
  }
  main .easy-container .container .left {
    width: 100%;
    margin-bottom: 100px;
  }
  main .easy-container .container .right {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */